html{
color: blue;
}
p{
	font-size: 102px;
	font-weight: bolder;
	text-align: center;
	font-family: courier;
}
body{
	background-color:#000000
}
.links{
	color: coral;
}
img{
	max-width: 50%;
	height: auto; 
	border-radius: 25px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
